{% extends "layout.html"%}
{% block content %}
<div class="col-md-8">
  <article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ book.author }}</a>
      <small class="text-muted">{{ book.year }} - {{ book.isbn}}</small>
    </div>
    <h2><a class="article-title" href="#">{{ book.title }}</a></h2>
  </div>
  </article>
  {% if reviews %}
    {% for review in reviews %}
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            {% for number in range(5)%}
              {% if number < review.rating %}
                <span class="fa fa-star checked"></span>
              {% else %}
                <span class="fa fa-star"></span>
              {% endif %}
            {% endfor %}
            <small class="text-muted">{{ review.username }}</small>
          </div>
          <div class="article-content">
            <p><i>"{{ review.comment }}"</i></p>
          </div>
        </div>
      </article>
    {% endfor %}
  {% endif %}
</div>
<div class="col-md-4">
  <div class="content-section">
      <form action="" method="post">
        {{form.hidden_tag()}}
        <fieldset class = "form-group">
          <legend class = "border-bottom mb-4">Review <i>{{ book.title }}</i></legend>
          <div class="form-group">
            {{form.rating.label(class = "form-control-label")}}

            {% if form.rating.errors%}
              {{form.rating(class = "form-control form-control-lg is-invalid")}}
              <div class="invalid-feedback">
                {%for error in form.rating.errors%}
                  <span>{{error}}</span>
                {% endfor %}
              </div>
            {% else %}
            {{form.rating(class = "form-control form-control-lg")}}
            {% endif %}
          </div>

          <div class="form-group">
            {{form.comment.label(class = "form-control-label")}}

            {% if form.comment.errors%}
              {{form.comment(class = "form-control form-control-lg is-invalid")}}
              <div class="invalid-feedback">
                {%for error in form.comment.errors%}
                  <span>{{error}}</span>
                {% endfor %}
              </div>
              {% else %}
              {{form.comment(class = "form-control form-control-lg")}}
              {% endif %}
          </div>

          <div class="form-group">
            {{form.submit(class = "btn btn-outline-info")}}
          </div>

  </div>
</div>
{% endblock %}
